@charset "UTF-8";
@font-face {
    font-family: 'passionregular';
    src: url('../fontes/PassionOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'sriracha';
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
}
:root{
    --font-tirulos: 'passionregular';
    --font-texto: 'sriracha'
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    font-variant: small-caps;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: gray;
}
.imagem p{
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}